#signup {
  @include auth;
  .errorMsg {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.25rem;
    color: red;
  }
}

#login {
  @include auth;
  .errorMsg {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.25rem;
    color: red;
  }
}

#forgotPassword {
  @include auth;

  .status-msg {
    position: absolute;
    color: color(secondary);
    padding: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    background-color: color(primaryOverlay);
  }
}

#newPassword {
  @include auth;
  .errorMsg {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.25rem;
    color: red;
  }
}

// No Media Queries - Looks good in all size
