@mixin XS {
  header {
    .navigation {
      justify-content: space-around;
      flex-wrap: wrap;

      .brand {
        i {
          font-size: 2.5rem;
        }

        &__name {
          margin-right: 1rem;
        }
      }

      .user-info {
        &__wrapper {
          padding: 0.75rem 1rem;

          &__cart__count {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            background-color: color(primary);
            border-radius: 50%;
          }
        }
        a {
          i {
            font-size: 1.75rem;
          }
        }
      }
    }
  }

  // Navbar
  #navbar {
    width: 35rem;
  }

  // showcase
  #showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../img/products/Acer_Predator_21X-3.JPG) no-repeat center center/cover;

    .showcase {
      &__title {
        font-size: 3.5rem;
      }
      &__text {
        font-size: 1.5rem;

        &--sub {
          .showcase__price {
            font-size: 2.5rem;
            color: color(primary);
          }
        }
      }
    }
  }

  // Section - Cards
  #cards {
    .cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 200px);
      grid-row-gap: 2.5rem;
    }
  }

  // Section - Collection
  #collection {
    .collection {
      &__title {
        @include title(0.25rem, 0, 2.5rem);
      }
      &__text {
        @include text(0.5rem, 0, 1.5rem);
        text-align: center;
      }
    }
  }

  //Section - New Arrivals
  #arrival {
    .arrival {
      flex-direction: column;
      &__item {
        padding-right: 10%;
        &__text {
          font-size: 1.5rem;
        }
        &--2 {
          background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
            url(../img/products/Acer_Predator_21X-2.JPG) no-repeat center
              center/cover;
          align-items: flex-end;
        }
      }
    }
  }

  // Section - Promo Video
  #promo {
    .promo__content {
      top: 50%;
      left: 10%;
      right: 10%;
      transform: translate(0, -50%);
      text-align: center;
      .promo__title {
        @include title(0.5rem, 0, 2.5rem);
      }
    }
  }

  // Section - Links
  #links {
    .links {
      grid-template-columns: repeat(1, 1fr);
      line-height: 2;

      ul:not(:nth-child(4)) {
        margin-bottom: 2rem;
      }
    }
  }

  // Section - Footer
  footer {
    p {
      font-size: 1.3rem;
    }
  }
}

@mixin SM {
  // Navbar {
  #navbar {
    width: 35rem;
  }

  // showcase
  #showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../img/products/Acer_Predator_21X-3.JPG) no-repeat center center/cover;

    .showcase {
      &__title {
        font-size: 4rem;
      }
      &__text {
        font-size: 1.75rem;

        &--sub {
          .showcase__price {
            font-size: 2.5rem;
            color: color(primary);
          }
        }
      }
    }
  }

  // Section - Cards
  #cards {
    .cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 250px);
      grid-row-gap: 2.5rem;
    }
  }

  // Section - Collection
  #collection {
    .collection {
      &__title {
        @include title(0.25rem, 0, 3rem);
      }
      &__text {
        @include text(0.5rem, 0, 1.75rem);
        text-align: center;
      }
    }
  }

  //Section - New Arrivals
  #arrival {
    .arrival {
      flex-direction: column;
      &__item {
        padding-right: 10%;
        &__text {
          font-size: 2rem;
        }
        &--2 {
          background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
            url(../img/products/Acer_Predator_21X-2.JPG) no-repeat center
              center/cover;
          align-items: flex-end;
        }
      }
    }
  }

  // Section - Promo Video
  #promo {
    .promo__content {
      top: 50%;
      left: 10%;
      right: 10%;
      transform: translate(0, -50%);
      .promo__title {
        @include title(0.5rem, 0, 2.5rem);
      }
    }
  }

  // Section - Links
  #links {
    .links {
      grid-template-columns: repeat(2, 1fr);
      line-height: 2;

      ul:not(:nth-child(4)) {
        margin-bottom: 2rem;
      }
    }
  }
}

@mixin MD {
  // Navbar {
  #navbar {
    width: 35rem;
  }

  // showcase
  #showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../img/products/Acer_Predator_21X-3.JPG) no-repeat center center/cover;

    .showcase {
      &__title {
        font-size: 4.25rem;
      }
      &__text {
        font-size: 2rem;

        &--sub {
          .showcase__price {
            font-size: 3rem;
            color: color(primary);
          }
        }
      }
    }
  }

  // Section - Cards
  #cards {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 350px);
      grid-row-gap: 5rem;
      grid-template-areas:
        'card-1 card-2'
        'card-3 card-3';

      .card {
        &--1 {
          grid-area: card-1;
        }
        &--2 {
          grid-area: card-2;
        }
        &--3 {
          grid-area: card-3;
        }
      }
    }
  }

  // Section - Collection - No Changes

  //Section - New Arrivals
  #arrival {
    .arrival {
      flex-direction: column;
      &__item {
        padding-right: 10%;
        &__text {
          font-size: 2rem;
        }
        &--2 {
          background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
            url(../img/products/Acer_Predator_21X-2.JPG) no-repeat center
              center/cover;
          align-items: flex-end;
        }
      }
    }
  }

  // Section - Promo Video
  #promo {
    .promo__content {
      top: 50%;
      left: 10%;
      right: 10%;
      transform: translate(0, -50%);
      .promo__title {
        @include title(0.5rem, 0, 3.5rem);
      }
    }
  }

  // Section - Links
  #links {
    .links {
      grid-column-gap: 1.5rem;
    }
  }
}

@mixin LG {
  // Navbar {
  #navbar {
    width: 35rem;
  }

  // Section - Promo Video
  #promo {
    .promo__content {
      top: 50%;
      left: 10%;
      right: 10%;
      transform: translate(0, -50%);
      .promo__title {
        @include title(0.5rem, 0, 3.5rem);
      }
    }
  }

  // Section - Links
  #links {
    .links {
      grid-column-gap: 2.25rem;
    }
  }

  //**No Changes for rest of the section **//
}

//** Products Page Media Query START **//
@mixin ProductsXS {
  #products {
    .products-wrapper {
      flex-direction: column;

      .filter {
        &__item {
          .page {
            padding: 0.75rem;
          }
          &-heading {
            font-size: 1rem;
          }
          .form-group {
            font-size: 1.25rem;
          }
        }

        .mob-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem;
        }

        .btn {
          padding: 1rem 2.5rem;
        }
      }

      .items {
        margin-top: 5rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@mixin ProductsSM {
  #products {
    .products-wrapper {
      flex-direction: column;

      .filter {
        &__item {
          .page {
            padding: 0.75rem;
          }
          &-heading {
            font-size: 1.5rem;
          }
          .form-group {
            font-size: 1.35rem;
          }
        }

        .mob-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem;
        }

        .btn {
          padding: 1rem 2.5rem;
        }
      }

      .items {
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@mixin ProductsMD {
  #products {
    .products-wrapper {
      flex-direction: column;

      .filter {
        &__item {
          .page {
            padding: 0.75rem;
          }
          &-heading {
            font-size: 1rem;
          }
          .form-group {
            font-size: 1.25rem;
          }
        }

        .mob-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 1.5rem;
        }

        .btn {
          padding: 1rem 2.5rem;
        }
      }

      .items {
        margin-top: 5rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@mixin ProductsLG {
  #products {
    .products-wrapper {
      .items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
//**---------------Products Page Media Query END---------------------------**//

//** About Page Media Query START **//
@mixin AboutXS {
  #about {
    padding-top: 3rem;
    .about {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 500px);

      &__img {
        display: none;
      }

      &__content {
        padding: 1.5rem 2.5rem;
        text-align: center;
        border-bottom: 1px solid rgba(36, 36, 36, 1);
        &__title {
          font-size: 1.75rem;
        }
      }
    }
  }

  // Section Service
  #service {
    .service {
      flex-direction: column-reverse;
      display: flex;

      &__content {
        padding: 1.5rem 2.5rem;
        text-align: center;
        border-bottom: 1px solid rgba(36, 36, 36, 1);
        &__title {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@mixin AboutSM {
  #about {
    padding-top: 3rem;
    .about {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 500px);

      &__img {
        display: none;
      }

      &__content {
        padding: 0.5rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }

  // Section Service
  #service {
    .service {
      flex-direction: column-reverse;
      display: flex;

      &__content {
        padding: 3rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@mixin AboutsMD {
  #about {
    padding-top: 3rem;
    .about {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 400px);

      &__img {
        display: none;
      }

      &__content {
        padding: 0.5rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }

  // Section Service
  #service {
    .service {
      flex-direction: column-reverse;
      display: flex;

      &__content {
        padding: 5rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@mixin AboutLG {
  #about {
    padding-top: 3rem;
    .about {
      grid-template-rows: repeat(1, 500px);
      &__content {
        padding: 0.5rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }
  // Section Service
  #service {
    .service {
      grid-template-rows: repeat(1, 500px);
      &__content {
        padding: 5rem 2.5rem;
        text-align: center;
        &__title {
          font-size: 2.5rem;
        }
      }
    }
  }
}
//**---------------About Page Media Query END---------------------------**//

//** Product Details Media Query START **//
// REUSABLE REVIEW MIXIN FROM MEDIA QUERIES
@mixin reviewXSSM {
  #review {
    .title {
      @include title(3.5rem, 0, 3rem);
      letter-spacing: 0.5rem;
    }
    .review {
      &__item__head__username,
      &__item__head__date {
        font-size: 1.75rem;
      }

      &__item__body__heading {
        font-size: 1.25rem;
      }
    }
  }
}

@mixin ProductDetailsXS {
  #detail {
    .title {
      padding-top: 5rem;
    }
    .detail {
      grid-template-columns: repeat(1, 1fr);

      &__img {
        margin-bottom: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 350px);
        grid-gap: 1rem;
      }

      &__content {
        &__title {
          @include title(0, 0, 2rem);
          .price {
            font-size: 1.75rem;
          }
        }

        &__description {
          font-size: 2rem;
        }
      }
    }
  }

  // Section - Review
  @include reviewXSSM;
  // No Changes In Review Form
}

@mixin ProductDetailsSM {
  #detail {
    .title {
      padding-top: 5rem;
    }
    .detail {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 300px 400px;

      &__img {
        margin-bottom: 2rem;
        grid-gap: 1rem;
      }

      &__content {
        &__title {
          @include title(0, 0, 2rem);
          .price {
            font-size: 1.75rem;
          }
        }

        &__description {
          font-size: 2rem;
        }
      }
    }
  }
  // Section - Review
  @include reviewXSSM;
  // No Changes In Review Form
}

@mixin ProductDetailsMD {
  #detail {
    .detail {
      grid-template-columns: repeat(1, 1fr);

      &__img {
        margin-bottom: 2rem;
        grid-template-rows: repeat(1, 400px);
        grid-gap: 1rem;
      }
    }
  }
  // No Changes In Review Section
}
//**---------------Product Details Media Query END---------------------------**//

// ** Cart Page Media Query Start **//
@mixin Cart {
  #cart {
    margin-top: 12.5rem;
    .cart {
      grid-template-columns: repeat(1, 1fr);

      &__items {
        &__title {
          @include title(1rem, 0, 2.75rem);
        }
        &__item {
          grid-template-rows: repeat(1, 150px);
          ul {
            flex-direction: column;
            align-items: flex-end;

            li {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
//**---------------Cart Page Media Query END---------------------------**//

// ** orderOverview Page Media Query Start **//
@mixin orderOverview($XSMsize, $FS, $flexDir, $alignItems) {
  #orders {
    .orders {
      @if ($XSMsize) {
        grid-template-columns: repeat(1, 1fr);
      } @else {
        grid-template-columns: 60% 40%;
      }

      &-items {
        margin-top: 1rem;
        .title {
          @include title(1rem, 0, 2.75rem);
        }

        &__items {
          &__item {
            font-size: $FS;

            ul {
              flex-direction: $flexDir;
              align-items: $alignItems;
            }
          }
        }
      }
    }
  }
}
//**---------------orderOverview Page Media Query END---------------------------**//

// ** Contact Page Media Query Start **//
@mixin contact($titleSize, $XSMsize, $CDFontSize) {
  #contact {
    .contact {
      .title {
        @include title(3.5rem, 0, $titleSize);
      }

      &__content {
        @if ($XSMsize) {
          grid-template-columns: repeat(1, 1fr);
        } @else {
          grid-template-columns: 60% 40%;
        }

        .contact-form {
          .form-group {
            // Layout Split
            @if ($XSMsize) {
              grid-template-columns: repeat(1, 1fr);
              grid-gap: 0;
            } @else {
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 1rem;
            }
          }
        }

        .contact-details {
          padding: 0;
          margin-top: 1rem;
          font-size: $CDFontSize;
          &__item {
            &__info {
              p {
                padding: 0.25rem 0;
              }
            }
          }
        }
      }
    }
  }
}
//**---------------Contact Page Media Query END---------------------------**//

//** MyOrder Page Media Query Start **//

@mixin myorder($XSM, $MD, $LG) {
  #myorders {
    margin-top: 10rem;
    .myorders {
      .title {
        @include title(2.5rem, 0, 3rem);
      }
      .orderitems {
        // Layout Split
        @if ($XSM) {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 2rem;
        } @else if($MD) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;
        } @else if($LG) {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 2rem;
        }
      }
    }
  }
}

//**---------------MyOrder Page Media Query END---------------------------**//

//** Profile Page Media Query Start **//
@mixin Profile(
  $ProfileFS,
  $gridcol,
  $XS,
  $imgContWid,
  $imgWrpWid,
  $infoFS,
  $XSM
) {
  #profile {
    .profile {
      .title {
        @include title(3rem, 0, $ProfileFS);
        text-align: center;
      }

      &__details {
        grid-template-columns: $gridcol;
        @if ($XS) {
          grid-template-rows: 300px repeat(2, 275px);
        } @else {
          grid-template-rows: repeat(3, 300px);
        }

        &__image {
          width: $imgContWid;
          .img-wrapper {
            align-self: center;
            width: $imgWrpWid;
            height: 75%;
          }
        }

        &__info {
          font-size: $infoFS;

          &.edit {
            form {
              li {
                input {
                  width: 65%;
                }
              }
            }
          }
        }
      }
    }
  }

  // Section - Security
  #security {
    .security-wrapper {
      @if ($XSM) {
        grid-template-columns: repeat(1, 1fr);
      } @else {
        grid-template-columns: repeat(2, 1fr);
      }

      .security {
        .title {
          @include title(1rem, 0, 3rem);
        }
      }
    }
  }
}
