#orders {
  margin-top: 10rem;

  .orders {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid color(border);

    // Left Side
    &-items {
      .title {
        @include title(1rem, 0, 3.5rem);
      }

      &__shipping-address {
        padding-bottom: 3rem;
        border-bottom: 1px solid color(border);
        .address {
          span {
            color: color(primary);
            font-size: 1.5rem;
          }
          p {
            font-size: 1.5rem;
            color: color(secondary);
          }

          &:nth-child(2) {
            margin-bottom: 2.5rem;
          }
        }
        .btn {
          @extend %btn;

          &:hover {
            @extend %btn_hover;
          }
        }
      }

      &__items {
        &__item {
          padding: 1.5rem 0;
          display: grid;
          grid-template-columns: 150px repeat(1, 1fr);
          grid-template-rows: repeat(1, 125px);
          grid-gap: 1rem;
          font-size: 2rem;
          color: color(secondary);
          border-bottom: 1px solid color(border);

          .img-wrapper {
            img {
              width: 100%;
              height: 100%;
              padding: 0.5rem;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
          }

          ul {
            display: flex;
            align-items: center;
            li {
              flex: 1;
              text-align: right;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    // Right Side
    &-total {
      align-self: flex-start;
      margin-top: 2rem;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      border: 1px solid color(border);

      &__content {
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        text-transform: capitalize;
        border-bottom: 1px solid color(border);
        h3 {
          font-size: 3.5rem;
          color: color(primary);
        }
        li {
          padding: 0.5rem 0;
          font-size: 1.75rem;
          color: color(secondary);
          display: flex;
          justify-content: space-between;
        }
      }
      .btn {
        @extend %btn;
        align-self: flex-end;

        &:hover {
          @extend %btn_hover;
        }
      }
    }
  }
}

//** Media Queries -  **//
@media (max-width: 575.98px) {
  @include orderOverview($XSM, 1.5rem, column, flex-end);
}

@media (min-width: 576px) and (max-width: 767.98px) {
  @include orderOverview($XSM, 1.75rem, column, flex-end);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  @include orderOverview($XSM, 1.75rem, row, center);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  @include orderOverview($notXSM, 2rem, column, flex-end);
}
