// Variables
$XSM: true;
$notXSM: false;

$truthy: true;
$falsy: false;

.container {
  max-width: 90%;
  width: 1660px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

// Variables

$colors: (
  primary: rgba(168, 116, 26, 1),
  primaryOverlay: rgba(168, 116, 26, 0.5),
  secondary: rgba(255, 255, 255, 1),
  secondaryOverlay: rgba(255, 255, 255, 0.5),
  cardBorder: rgba(3, 15, 18, 1),
  bgColor: rgba(36, 36, 36, 1),
  border: rgba(51, 51, 51, 1),
);

// Function
@function color($colorName) {
  @return map-get($colors, $colorName);
}

// Inheritance

%btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  color: color(secondary);
  text-transform: capitalize;
  border: 1px solid color(primary);
  transition: all 0.25s ease-in;
}

%btn_hover {
  background-color: color(primary);
}

// Custom btn
@mixin btn($py, $px, $fs, $color) {
  display: inline-block;
  padding: $py $px;
  font-size: $fs;
  color: color($color);
  text-transform: capitalize;
  border: 1px solid color(primary);
  transition: all 0.25s ease-in;
}

@mixin btn_hover($Bgcolor) {
  background: color($Bgcolor);
}

%title {
  padding: 0.5rem 0;
  color: color(secondary);
  font-size: 5rem;
  text-transform: capitalize;
}

%text {
  padding: 0.75rem 0;
  font-size: 2rem;
  color: color(secondary);
  text-transform: capitalize;
}

@mixin title($py, $px, $fz) {
  padding: $py $px;
  color: color(secondary);
  font-size: $fz;
  text-transform: capitalize;
}

@mixin text($py, $px, $fz) {
  padding: $py $px;
  font-size: $fz;
  color: color(secondary);
  text-transform: capitalize;
}

// Box-shadow
@mixin insetShadow($-x, $-y, $x, $y, $blur) {
  box-shadow: inset $-x $-y $blur rgba(19, 19, 19, 0.5),
    inset $x $y $blur rgba(0, 0, 0, 0.5);
}
@mixin outShadow($-x, $-y, $x, $y, $blur) {
  box-shadow: $-x $-y $blur rgba(19, 19, 19, 0.5),
    $x $y $blur rgba(0, 0, 0, 0.5);
  // transform: translateY(-10px);
}

@mixin form-btn($mt) {
  display: inline-block;
  cursor: pointer;
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: color(primary);
  color: color(secondary);
  border: none;
  margin-top: $mt;
  transition: 0.25s all ease-in-out;
}

%form-btn_hover {
  background-color: rgba(168, 116, 26, 0.75);
}

.loader-wrapper {
  height: 75vh;
  position: relative;

  .loading {
    height: 0;
    width: 0;
    padding: 3rem;
    border: 10px solid color(secondary);
    border-right-color: color(primary);
    border-radius: 50%;
    animation: loading 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

@keyframes loading {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  // 1% {
  //   transform: scale(10) translateX(-50px) rotateZ(90deg);
  // }
  // 25% {
  //   // transform: scale(-10) translateY(-100px) rotateX(180deg);
  //   transform: scale(-10);
  // }
  // 50% {
  //   transform: scale(5) translateY(100px) rotateY(240deg);
  // }
  // 75% {
  //   transform: scale(2.5) translateX(100px) rotate(360deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}

// Error Message
.error-wrapper {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color(border);

  .error-msg {
    p {
      font-size: 2.5rem;
      color: color(primary);
      text-align: center;

      i {
        padding: 0.5rem;
      }
    }
  }
}

// Reusable Auth Style
@mixin auth {
  margin-top: 8.5rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color(border);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(../img/laps/bg_21.jpg) no-repeat center center/cover;
  background-attachment: fixed;

  .auth {
    &-wrapper {
      padding: 1rem 2.5rem;
      @include outShadow(-1px, -1px, 1px, 1px, 2px);
    }

    .auth__title {
      @include title(1rem, 1rem, 3rem);
      text-align: center;
    }

    .auth__form {
      label {
        display: inline-block;
        padding: 1rem 0;
        font-size: 1.75rem;
        color: color(primary);
        letter-spacing: 0.25rem;
      }

      .form-control {
        width: 100%;
        display: block;
        padding: 1rem 2rem;
        font-family: 'Poppins', sans-serif;
      }

      .btn {
        @include form-btn(2rem);

        &:active {
          @include insetShadow(-1px, -1px, 1px, 1px, 1px);
        }
      }
    }
    .auth__msg {
      margin-top: 1rem;
      font-size: 1.25rem;
      color: color(secondary);
      text-transform: capitalize;

      p {
        display: flex;
        justify-content: space-between;
      }

      span {
        align-self: center;
      }
      a {
        font-size: 1.5rem;
        color: color(primary);
      }
    }
  }
}

// Title & GoBack Btn - Nav
@mixin nav($TFS) {
  .nav {
    display: flex;
    justify-content: space-between;
    .title {
      @include title(2.5rem, 0, $TFS);
    }
    .btn {
      align-self: center !important;
      @include btn(1.5rem, 2.5rem, 1.25rem, secondary);

      &:hover {
        @include btn_hover(primary);
      }
    }
  }
}
