@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import 'reset';
@import 'utilities';
@import 'jsClass';
@import 'media';
@import 'navbar';
@import 'header';
@import 'footer';
@import 'home';
@import 'products';
@import 'about';
@import 'contact';
@import 'productDetails';
@import 'cart';
@import 'auth';
@import 'orderOverview';
@import 'myorders';
@import 'myprofile';
@import 'admin';

// menu-overlay
.menu-overlay {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: color(primaryOverlay);
  transition: all;
}
