#order-Details {
  margin-top: 8.5rem;
  .order-details {
    @include nav(3.5rem);
    .ordered-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      &__item {
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
        font-size: 1.5rem;
        box-shadow: 0.5px 0.5px 5px rgba(3, 15, 18, 0.3),
          0.5px 0.5px 5px rgba(20, 1, 1, 0.3);

        &__list {
          padding: 0.5rem;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          span:nth-child(1) {
            color: color(primary);
          }
          span:nth-child(2) {
            text-align: right;
            color: color(secondary);
          }
        }

        .btn {
          @include btn(1.5rem, 2.5rem, 1.25rem, secondary);
          margin-top: 2rem;
          align-self: flex-end;

          &:hover {
            @include btn_hover(primary);
          }
        }
      }
    }
  }
}

// Media Queries.
@media (max-width: 575.98px) {
  @include myOrderDetails($truthy, $falsy, $falsy, 2.5rem);
}
@media (min-width: 576px) and (max-width: 767.98px) {
  @include myOrderDetails($falsy, $truthy, $falsy, 2.75rem);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  @include myOrderDetails($falsy, $truthy, $falsy, 3rem);
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  @include myOrderDetails($falsy, $falsy, $truthy, 3.5rem);
}
